includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database

    tmpDir: build/phpstan
    checkModelProperties: false

    ignoreErrors:
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
